:root {
  --blue: #0131ff;
  --white-bkg: #f1f2f4;
  --white: #ffffff;
  --gray-border: #cfd1d3;
  --gray-bkg: #f1f2f4;

  --font: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: var(--font);
}
body {
  width: 300px;
  height: 450px;
}
.container-header {
  background-color: var(--blue);
  width: 100%;
  height: 45px;
  border-radius: 10px 10px 0 0;
  padding: 5px;
}
.in {
  background-color: var(--white-bkg);
  border-radius: 50%;
  font-size: 10px;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.username {
  font-size: 12px;
  color: var(--white);
}
.container-header img {
  height: 25px;
  width: 25px;
  float: right;
  margin-right: 10px;
  cursor: pointer;
}
.container-main {
  background-color: var(--white-bkg);
  width: 100%;
  height: 410px;
  border-radius: 0 0 10px 10px;
  padding: 40px 15px 0 15px;
}
.meu-itau {
  width: 100%;
  height: 30px;
  padding: 5px 0;
}
.meu-itau h1 {
  font-size: 12px;
  float: left;
}
.meu-itau img {
  float: right;
  height: 20px;
  width: 25px;
  cursor: pointer;
}
.operacoes {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: var(--white);
  width: 80px;
  height: 80px;
  display: inline-block;
  margin: 6px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.box img {
  height: 25px;
  width: 25px;
}
.box p {
  font-size: 10px;
  font-weight: bold;
  margin: 5px;
}
.extrato {
  background-color: var(--white);
  width: 95%;
  height: 200px;
  margin-top: 10px;
  margin-left: 6px;
  border: 1px solid var(--gray-border);
  border-radius: 5px;
  padding: 10px;
}
.extrato img {
  height: 25px;
  width: 25px;
  margin-bottom: 20px;
}
.saldo {
  width: 100%;
  height: 20px;
}
.saldo p {
  font-size: 12px;
  float: left;
}
.saldo img {
  float: right;
  height: 20px;
  width: 25px;
}
.valor-saldo {
  float: right;
  font-size: 12px;
  margin-left: 75px;
}
hr {
  width: 100%;
}
.conferir {
  width: 100%;
  height: 20px;
  margin-top: 15px;
}
.conferir p {
  font-size: 12px;
  font-weight: bold;
  float: left;
  color: var(--blue);
}
.conferir img {
  float: right;
  height: 20px;
  width: 25px;
  cursor: pointer;
}
.limite {
  background-color: var(--gray-bkg);
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 5px;
}
.limite p {
  font-size: 10px;
  font-weight: bold;
  float: left;
}
.limite img {
  float: right;
  height: 18px;
  width: 25px;
  cursor: pointer;
}
.valor-limite {
  font-size: 10px;
  font-weight: bold;
  float: right;
  margin-left: 15px;
}