:root {
  --blue: #0131ff;
  --white-bkg: #f1f2f4;
  --white: #ffffff;
  --gray-border: #cfd1d3;
  --gray-bkg: #f1f2f4;

  --font: "Poppins", sans-serif;
}


.main-container {
  background-color: var(--white-bkg);
  width: 422px;
  height: 636px;
  margin: auto;
}

header {
  background-color: var(--blue);
  height: 60px;
  display: flex;
  align-items: center;
}

header img {
  height: 40px;
}