:root {
  --blue: #0131ff;
  --white-bkg: #f1f2f4;
  --white: #ffffff;
  --gray-border: #cfd1d3;
  --gray-bkg: #f1f2f4;

  --font: "Poppins", sans-serif;
}

.main-container {
  background-color: var(--white-bkg);
  width: 422px;
  height: 636px;
  margin: auto;

  font-family: "Mulish", sans-serif;
}

header {
  background-color: var(--blue);
  height: 60px;
  display: flex;

  font-size: 20px;
}

header img {
  height: 40px;
}

.header-imgs {
  margin-left: 160px;
  display: flex;
  align-items: center;
}

.header__profile-photo {
  background: var(--white-bkg);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20PX;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-top: 8px;
}

.header__profile-name {
  margin-left: 15px;
  margin-top: 15px;
  color: var(--white);
}

.header__search-img {
  padding-right: 10px;
}



.main-content {
  margin-top: 40px;
  margin-left: 18px;
}

.visibility-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.visibility-button {
  border: none;
  display: flex;
  height: 20px;
  width: 26px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-right: 35px;
}

.visibility-img {
  height: 40px;
  border-color: var(--white-bkg);
}



.conteiner__banking-functions {
  display: flex;
  gap: 20px;
}

.banking-functions {
  background-color: var(--white);
  height: 110px;
  width: 110px;
  border-radius: 15px;
}

.banking-functions img {
  height: 40px;
}

.banking-functions p {
  font-weight: bolder;
  margin-left: 8px;
  margin-bottom: 0px;
}